<a href = "<%= event_path(event) %>" data-remote = "true" data-method = "get" data-turbolinks="false">
	<div class="divider"></div>
	<br>
	<h5 class = "grey-text text-darken-2" style="margin-bottom:4px"><%= event.title %></h5>
	<span class="grey-text"><%= event.date_time %> | <%= event.location %></span><br><br>
</a>
<div class="divider"></div>