  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4><%= @event.title %></h4>
      <p><%= simple_format @event.description %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Register</a>
    </div>
  </div>