<div class = "row">
	<div class =" col m2 s12">
		<h5 class ="grey-text text-darken-2"><%= date ||= "Day" %></h5>
	</div>
	<div class = "col m10 s12" id = "event_div">
    <% day.try(:each) do |event| %>
     <%= render "events/event_row", :event => event %>
    <% end %>
	</div>
</div>