<div id="tabsdiv" class="container">
  <div id="about" class="col s12">
      <div class="card">
          <div class="card-content">
            <span class="card-title">About Inceptum</span>
            <p><b>INCEPTUM</b>  is the Technical Fest of G.B.Pant Engineering College, Delhi. The aim of INCEPTUM has always been, to foster scientific temperament among students through different means and to cater to all kinds of talent.
            This year we go bigger and better!
            We are here with the vision of bringing science and technology to the masses and to inspire the youth to achieve the unexpected by providing them with an exceptional opportunity, to showcase their talents. Making INCEPTUM merrier and jolly, we present the plethora of events to make your journey incredible and indelible.
            Block your dates: 16 April - 18 April!
            Come one, Come all!</p><br>
            <p>
            <b>INCEPTUM</b> was started in 2012, as the Annual Technical Festival of G.B.Pant Engineering College. Since then, the primer goal of INCEPTUM was to provide a platform to nurture ideas and talents, concomitant to Science and Technology. We always believe in advancing, year by year, and implement the same! </p>
          </div>
          <div class="card-action">
            <a href="http://gbpec.edu.in/index.php">Visit College Website</a>
          </div>
        </div>
  </div>
  <div id="test1" class="col s12">
  	<%= render "application/tab_div", :day => @day1, :date => "April 16" %>
  </div>
  <div id="test2" class="col s12">
    <%= render "application/tab_div", :day => @day2, :date => "April 17" %>
  </div>
  <div id="test3" class="col s12">
     <%= render "application/tab_div", :day => @day3, :date => "April 18" %>
  </div>
  <% if user_signed_in? %>
  <div id = "myschedule" class ="col s12">
    <%= render "application/tab_div", :day => @myevents, :date => "Registered Events" %>
  </div>
  <% end %>
</div>

<div id ="modal-holder" data-turbolinks="false"></div>