      <div class="nav-content" style="padding-left:30px">
      <ul class="tabs tabs-transparent">
      	<li class="tab"><a class="active" href="#about">About</a></li>
        <li class="tab"><a href="#test1">Day 1</a></li>
        <li class="tab"><a href="#test2">Day 2</a></li>
        <li class="tab"><a href="#test3">Day 3</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<div id="tabsdiv" class="yellow lighten-5">
  <div id="about" class="col s12">About
  </div>
  <div id="test1" class="col s12">
  	<%= render "application/tab_div", :day => @day1 %>
  </div>
  <div id="test2" class="col s12">
    <%= render "application/tab_div", :day => @day2 %>
  </div>
  <div id="test3" class="col s12">
     <%= render "application/tab_div", :day => @day3 %>
  </div>
</div>

<div id ="modal-holder" data-turbolinks="false"></div>