<div id="tabsdiv" class="container">
  <div id="about" class="col s12">
      <div class="card">
          <div class="card-content">
            <span class="card-title">About Inceptum</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="card-action">
            <a href="#">Visit College Website</a>
          </div>
        </div>
  </div>
  <div id="test1" class="col s12">
  	<%= render "application/tab_div", :day => @day1, :date => "March 1" %>
  </div>
  <div id="test2" class="col s12">
    <%= render "application/tab_div", :day => @day2, :date => "March 2" %>
  </div>
  <div id="test3" class="col s12">
     <%= render "application/tab_div", :day => @day3, :date => "March 3" %>
  </div>
  <% if user_signed_in? %>
  <div id = "myschedule" class ="col s12">
    <%= render "application/tab_div", :day => @myevents, :date => "Registered Events" %>
  </div>
  <% end %>
</div>

<div id ="modal-holder" data-turbolinks="false"></div>