      <div class="nav-content" style="padding-left:30px">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1">Day 1</a></li>
        <li class="tab"><a href="#test2">Day 2</a></li>
        <li class="tab"><a href="#test4">Day 3</a></li>
      </ul>
    </div>
  </nav>
<div id="tabsdiv">
  <div id="test1" class="col s12">Day 1</div>
  <div id="test2" class="col s12">Day 2</div>
  <div id="test4" class="col s12">Day 3</div>
  </div>
</header>
<main>