<div id="tabsdiv" class="container">
  <div id="about" class="col s12">
      <div class="card">
          <div class="card-content">
            <span class="card-title">About Inceptum</span>
            <p><b>INCEPTUM</b> is the annual technical fest of GB Pant Engineering College(GBPEC).The aim of <b>INCEPTUM</b> is to foster a scientific temperament among students through different means in order to cater to all kinds of talent. It ignites the spark of technical competitiveness amongst students. Our vision has been to bring science and technology to the masses and to inspire them to achieve the unexpected by providing them with a platform to showcase their skills.</p>
          </div>
          <div class="card-action">
            <a href="http://gbpec.edu.in/index.php">Visit College Website</a>
          </div>
        </div>
  </div>
  <div id="test1" class="col s12">
  	<%= render "application/tab_div", :day => @day1, :date => "March 29" %>
  </div>
  <div id="test2" class="col s12">
    <%= render "application/tab_div", :day => @day2, :date => "March 30" %>
  </div>
  <div id="test3" class="col s12">
     <%= render "application/tab_div", :day => @day3, :date => "March 31" %>
  </div>
  <% if user_signed_in? %>
  <div id = "myschedule" class ="col s12">
    <%= render "application/tab_div", :day => @myevents, :date => "Registered Events" %>
  </div>
  <% end %>
</div>

<div id ="modal-holder" data-turbolinks="false"></div>