<div id="tabsdiv" class="yellow lighten-5">
  <div id="about" class="col s12">
    About
  </div>
  <div id="test1" class="col s12">
  	<%= render "application/tab_div", :day => @day1, :date => "March 1" %>
  </div>
  <div id="test2" class="col s12">
    <%= render "application/tab_div", :day => @day2, :date => "March 2" %>
  </div>
  <div id="test3" class="col s12">
     <%= render "application/tab_div", :day => @day3, :date => "March 3" %>
  </div>
  <% if user_signed_in? %>
  <div id = "myschedule" class ="col s12">
    <%= render "application/tab_div", :day => @myevents, :date => "Registered Events" %>
  </div>
  <% end %>
</div>

<div id ="modal-holder" data-turbolinks="false"></div>