<header>
  <nav class="nav-extended">
    <div class="nav-wrapper" style="padding:10px 45px 0 45px">
      <a id="logo-container" href="<%= root_path %>" class="brand-logo" style="padding-top:10px">
            <object id="front-page-logo" type="image/svg+xml" data="/materialize.svg">Your browser does not support SVG</object></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="<%= new_user_session_path %>">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="<%= new_user_session_path %>">Login</a></li>
      </ul>
    </div>
    <br>
